.title{
    font-size: 37px;
    color: black;
}
.span{
    width: 24px;
    height: 24px;
}
.profile{
   width: 130px;
    height: 130px;
    position: relative;
    left: 20px;
    padding-bottom: 40px;
}
.nav{
      position: fixed;
}
.ul{
  
    display: flex;
    list-style: none;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 300px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.actives{
    text-decoration: underline;
    font-size: 26px;
    color: rgb(133, 145, 145);

}
.leftpart{
    position: relative;
    left: 250px;
    top: 150px;
}
.leftpart p{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn{
    width:160px;
    height: 30px;
    border-radius: 10px;
    border: 1px green;

}
.btn:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 2s;
    background-color: aqua;
}
.whole{
    position: absolute;
    top: 300px;
    left: 800px;
}
.account-display{
    margin-bottom: 80px;
}
.account-display h1{
    position: relative;
    top: 37px;
    right: 55px;
    font-size: 20px;
    text-decoration: underline;
}
.account-display p{
    font-size: 18px;
    padding-left: 100px;
}
.details{
    display: flex;
    font-size: 27px;
    position: relative;
    right:200px;
    width: 47vw;
    height: 35px;
    background-color: aqua;
    border-radius: 50px;
    padding-left: 50px;
    margin-bottom: 10px;
}
.box{
    position: relative;
    right: 55px;
    top: 40px;
}
.form p{
    font-size: 18px;
}
.form input{
    width: 37vw;
}
.form button{
   position: relative;
   top: 60px;
   right: 570px;
    width:160px;
    height: 30px;
    border-radius: 10px;
    border: 1px green;
   margin-bottom: 200px;
}
.form button:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 2s;
    background-color: aqua;
}
    
.box2{
    background-color:#50c878;
    width: 310px;
    padding: 50px;
    justify-content: center;
    position: relative;
    right: 130px;
}
.eye{
    width: 100px;
}
body{
    background-color: black;
    color: white;
}